@import '~@angular/material/theming';
@import './variables.scss';

@include mat-core();

$theme: mat-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
  background: $background;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  color: $foreground;
}

a,
.link {
  color: $link;
  text-decoration: underline;
  cursor: pointer;
  outline: transparent;
}

h1,
h2,
h3 {
  font-weight: normal !important;
}

.primary {
  color: mat-color($primary) !important;
}
.bg-primary {
  background: mat-color($primary) !important;
}

.accent {
  color: mat-color($accent) !important;
}
.bg-accent {
  background: mat-color($accent) !important;
}

.warn {
  color: mat-color($warn) !important;
}
.bg-warn {
  background: mat-color($warn) !important;
}

mat-dialog-container *[mat-dialog-title] {
  mat-icon,
  span {
    vertical-align: middle;
    display: inline-block;
  }

  mat-icon {
    font-size: 1.5em !important;
    margin-right: 0.25em;
  }
}

.mat-drawer-backdrop.mat-drawer-shown {
  background: $navigation-backdrop;
}

.mat-snack-bar-container {
  background-color: $snackbar-background;
  color: $snackbar-foreground;

  &:not(.action-warn) .mat-simple-snackbar-action {
    color: mat-color($primary);
  }

  &.action-warn .mat-simple-snackbar-action {
    color: mat-color($warn);
  }
}

h1,
h2 {
  > mat-icon {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}

mat-icon.mat-icon-inline {
  vertical-align: middle;
}

button mat-icon.mat-icon-inline {
  font-size: 1.5em !important;
}

mat-icon.mat-card-avatar {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

table.data_table {
  tr td {
    padding: 0.5em 0;

    &:first-child {
      width: 17em;
      font-weight: 500;
    }
  }
}
