@import '../../../../../variables.scss';

.status {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr;
  gap: 2em;

  @media screen and (max-width: 1450px) {
    grid-template-columns: 1fr 1fr 0.75fr;
  }
  @media screen and (max-width: 1100px) {
    grid-template-columns: 1fr 1fr;

    mat-card:not(.timerCard) {
      height: unset !important;
    }
  }
  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }

  margin-bottom: 2em;

  mat-card {
    height: fit-content;

    table {
      width: 100%;
    }
  }

  .timerCard .timer {
    font-size: 2em;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;

    border-radius: 5px;

    background: mat-color($dark-accent);
    background: var(--accent);

    > * {
      vertical-align: middle;
    }
  }

  .expressionCard {
    table td:last-child {
      font-size: 1.5em;
      font-weight: 500;
    }

    .confirm_actions {
      > * {
        background: none;
        border: none;

        display: inline-block;
        width: calc(100% / 3);
        text-align: center;
        cursor: pointer;

        transition: transform 0.1s;
        transform-origin: center center;

        &:not([disabled]):hover {
          transform: scale(1.25);
          text-shadow: 0 0 0.25em black;
        }

        &[disabled] {
          cursor: default;

          mat-icon {
            opacity: 30%;
            color: $dark-foreground !important;
            color: var(--foreground) !important;
          }
        }
      }
    }
  }

  .dice_battery {
    > * {
      vertical-align: middle;
    }

    mat-icon {
      margin-right: 0.25em;
      font-size: 1.5em;
    }
  }

  .dice_info {
    background: lighten($dark-foreground, 90%);
    color: darken($dark-background, 90%);
    border-radius: 2px;
    padding: 0.5em;

    > * {
      vertical-align: middle;
    }

    mat-icon {
      margin-right: 0.5em;
    }
  }
}

.teams {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;

  @media screen and (max-width: 1600px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1150px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
  }

  margin-bottom: 2em;

  .teamCard {
    overflow: hidden;

    transition: transform 0.2s;

    z-index: 0;

    @media screen and (min-width: 651px) {
      &.current_team {
        transform: scale(1.1);
        z-index: 1;
      }
    }

    &.current_team {
      box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.5);
      border: 1px solid mat-color($dark-primary);
      border: 1px solid var(--primary);
    }

    h2 {
      position: relative;
      padding-right: 9ch;

      > * {
        vertical-align: middle;
      }

      .score {
        font-size: 0.75em;
        padding: 0 0.5em;
        border-radius: 2px;
        line-height: calc(1em + 0.75em);

        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        background: mat-color($dark-primary);
        background: var(--primary);
      }
    }

    ul.players {
      list-style-type: none;
      padding: 0;

      li {
        > * {
          vertical-align: middle;
        }

        mat-icon:not(:first-child) {
          margin-left: 0.5em;
        }

        mat-icon:first-child {
          margin-right: 0.5em;
        }

        &.current {
          font-weight: 550;
        }
      }
    }
  }
}

.actions {
  > *:not(:last-child) {
    margin-right: 1em;
  }

  > * {
    margin-bottom: 1em;
  }

  span.game_code {
    > * {
      vertical-align: middle;

      &:not(:last-child) {
        margin-right: 0.25em;
      }
    }

    > input {
      font-size: 1.1rem;
      padding: 0.25em 0.5em;
      border-radius: 5px;
      border: none;
      color: inherit;
      width: 11ch;
      text-align: center;

      outline: none;

      background: rgba(0, 0, 0, 0.25);
    }
  }
}
