<div class="info">
    <button
        mat-raised-button
        *ngIf="currentUserId !== undefined && isCurrentUserHost"
        [disabled]="!startable || !game.websocketConnected"
        [color]="isReadyPlayer(currentUserId) ? 'warn' : 'primary'"
        (click)="toggleReady()"
    >
        <mat-icon [inline]="true">{{ isReadyPlayer(currentUserId) ? 'stop' : 'play_arrow' }}</mat-icon>
        {{ isReadyPlayer(currentUserId) ? 'Stop game' : 'Start game' }}
    </button>

    <span>
        Ready players:
        <strong>{{ amountReadyPlayers }}</strong>
        /
        <strong>{{ game.totalPlayers }}</strong>
    </span>
</div>

<div *ngIf="hostId != null && isReadyPlayer(hostId)" class="game_starting mat-elevation-z2">
    <mat-spinner diameter="24"></mat-spinner>
    The game is starting. Waiting for other players...
</div>

<div
    class="teams"
    [class.ready]="(currentUserId != null && isReadyPlayer(currentUserId)) || (hostId != null && isReadyPlayer(hostId))"
    *ngIf="teams !== null"
>
    <mat-card
        class="teamCard"
        [class.current_team]="isCurrentUsersTeam(team.index)"
        [class.disabled]="!game.websocketConnected"
        *ngFor="let team of teams"
        (click)="game.websocketConnected && switchTeam(team.index)"
    >
        <div class="current_team_marker mat-elevation-z2"><mat-icon>check</mat-icon></div>

        <h2><mat-icon [inline]="true">groups</mat-icon>{{ team.name }}</h2>

        <ul class="players">
            <li *ngFor="let player of team.players" [class.current]="player.id === currentUserId">
                <mat-icon [inline]="true" [style.color]="isReadyPlayer(player.id) ? '#0f0' : '#f12'">{{
                    isReadyPlayer(player.id) ? 'check' : 'remove'
                }}</mat-icon>
                <tg-player-name [player]="player" (click)="$event.stopPropagation()"></tg-player-name>
                <mat-icon [inline]="true" *ngIf="player.id === currentUserId">person</mat-icon>
                <mat-icon color="accent" [inline]="true" *ngIf="player.id === hostId">star</mat-icon>
            </li>
        </ul>

        <button
            mat-raised-button
            color="primary"
            (click)="$event.stopPropagation(); addPlayerToTeam(team.index)"
            *ngIf="isCurrentUserHost && currentUserId != null"
            [disabled]="isReadyPlayer(currentUserId) || !game.websocketConnected"
        >
            <mat-icon [inline]="true" style="margin-right: 0.25em">person_add</mat-icon>
            Add player
        </button>
    </mat-card>

    <mat-card
        class="teamCard unassignedCard"
        (click)="game.websocketConnected && switchTeam(-1)"
        [class.current_team]="isCurrentUsersTeam(-1)"
        [class.disabled]="!game.websocketConnected"
    >
        <div class="current_team_marker mat-elevation-z2"><mat-icon>check</mat-icon></div>

        <h2><mat-icon [inline]="true">hourglass_empty</mat-icon>Unassigned players</h2>

        <ul class="players">
            <li
                *ngFor="let player of game.currentState?.waiting_data?.unassigned_players || null"
                [class.current]="player.id === currentUserId"
            >
                <mat-icon [inline]="true" style="color: #f12">remove</mat-icon>
                <tg-player-name [player]="player" (click)="$event.stopPropagation()"></tg-player-name>
                <mat-icon [inline]="true" *ngIf="player.id === currentUserId">person</mat-icon>
                <mat-icon color="accent" [inline]="true" *ngIf="player.id === hostId">star</mat-icon>
            </li>
        </ul>
    </mat-card>
</div>

<div class="actions">
    <button mat-raised-button color="warn" (click)="leaveGame()">
        <mat-icon [inline]="true">logout</mat-icon> Leave game
    </button>
    <button
        mat-raised-button
        *ngIf="currentUserId !== undefined && !isCurrentUserHost"
        [color]="isReadyPlayer(currentUserId) ? 'warn' : 'primary'"
        [disabled]="isCurrentUsersTeam(-1) || !game.websocketConnected"
        (click)="toggleReady()"
    >
        <mat-icon [inline]="true">{{ isReadyPlayer(currentUserId) ? 'remove' : 'check' }}</mat-icon>
        {{ isReadyPlayer(currentUserId) ? 'Unready' : 'Ready' }}
    </button>

    <span class="game_code">
        <span> Game code: </span>
        <input [value]="game.currentState?.code || '' | gameCode" readonly #codeInput />

        <button mat-icon-button (click)="copyCode(codeInput)">
            <mat-icon>content_copy</mat-icon>
        </button>
    </span>
</div>
