@import '../../variables.scss';

$nav-width: 20em;

mat-drawer-container {
  height: 100vh;
  background: transparent !important;

  h1 {
    padding: 0.5em;

    a {
      color: inherit;
      display: block;
    }

    img,
    span {
      vertical-align: middle;
      display: inline-block;
    }

    img {
      height: 2em;
      margin-right: 0.5em;
    }
  }

  mat-drawer {
    width: $nav-width;
    background: $dark-navigation-background !important;
    background: var(--navigation-background) !important;
    color: $dark-navigation-foreground !important;
    color: var(--navigation-foreground) !important;

    a[mat-list-item] {
      color: $dark-navigation-foreground;
      color: var(--navigation-foreground);
    }

    &:not(.small-screen) {
      border-right: 0;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    }

    &.small-screen {
      box-shadow: none;
    }

    nav {
      .active {
        background: rgba(255, 255, 255, 0.1);
      }

      mat-nav-list > * mat-icon {
        margin-right: 0.5em;
      }

      .user a[mat-list-item] {
        font-size: 1.25rem;
      }

      .nav {
        margin: 1em 0;
      }

      .bottom_nav {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .mat-list-item-disabled {
      background: transparent;
      opacity: 30%;
    }
  }

  mat-drawer-content {
    color: inherit;

    header {
      position: sticky;
      top: 0;
      z-index: 2;

      background: $dark-navigation-background;
      background: var(--navigation-background);
      color: $dark-navigation-foreground;
      color: var(--navigation-foreground);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);

      button {
        margin-left: 1em;

        mat-icon {
          font-size: 1.75rem;
        }
      }

      h1 {
        margin: 0;
      }

      > button,
      h1 {
        display: inline-block;
        vertical-align: middle;
      }
    }

    main {
      position: absolute;
      width: 85%;
      min-width: 960px;
      max-width: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 1em;
      padding-bottom: 1em;
    }

    @media screen and (max-width: calc(#{$nav-width} + 960px + 2em)) {
      main {
        position: initial;
        width: unset;
        min-width: unset;
        max-width: unset;
        left: unset;
        transform: unset;
        padding: 1em 2em;
      }
    }
  }
}
