<mat-drawer-container>
    <mat-drawer
        #drawer
        [mode]="isSmallScreen ? 'over' : 'side'"
        [opened]="!isSmallScreen"
        [ngClass]="{ 'small-screen': isSmallScreen }"
    >
        <h1>
            <a routerLink="/home"
                ><img src="/assets/images/time_flip.png" alt="TimeFlip icon" /><span>TimeGuess</span></a
            >
        </h1>

        <nav>
            <div class="user">
                <mat-nav-list>
                    <a mat-list-item (click)="openProfile()"> <mat-icon>account_circle</mat-icon> {{ username }} </a>
                </mat-nav-list>
            </div>

            <div class="home">
                <mat-nav-list>
                    <a mat-list-item routerLink="/home" routerLinkActive="active"> <mat-icon>home</mat-icon> Home </a>
                </mat-nav-list>
            </div>

            <div class="admin" *ngIf="userHasRole('gamemanager')">
                <mat-nav-list>
                    <div mat-subheader>Games</div>
                    <a mat-list-item routerLink="/admin/games" routerLinkActive="active">
                        <mat-icon>play_arrow</mat-icon> Open games
                    </a>

                    <mat-divider></mat-divider>
                    <div mat-subheader>Administrate</div>
                    <a mat-list-item routerLink="/admin/users" routerLinkActive="active" *ngIf="userHasRole('admin')">
                        <mat-icon>people</mat-icon> Users
                    </a>
                    <a mat-list-item routerLink="/admin/expressions" routerLinkActive="active">
                        <mat-icon>translate</mat-icon> Expressions
                    </a>
                </mat-nav-list>
            </div>

            <div class="bottom_nav">
                <mat-nav-list>
                    <a mat-list-item (click)="openSettings()"> <mat-icon>settings</mat-icon> Settings </a>
                    <a mat-list-item routerLink="/logout" class="warn">
                        <mat-icon>power_settings_new</mat-icon> Logout
                    </a>
                </mat-nav-list>
            </div>
        </nav>
    </mat-drawer>
    <mat-drawer-content>
        <header *ngIf="isSmallScreen">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon [inline]="true">menu</mat-icon>
            </button>
            <h1>
                <a routerLink="/home"
                    ><img src="/assets/images/time_flip.png" alt="TimeFlip icon" /><span>TimeGuess</span></a
                >
            </h1>
        </header>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-drawer-content>
</mat-drawer-container>
