<h2 mat-dialog-title><mat-icon color="primary" [inline]="true">account_circle</mat-icon><span>username</span></h2>

<mat-dialog-content>
    <table>
        <tr>
            <td>Played games:</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Guessed words:</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Wrong words:</td>
            <td>0</td>
        </tr>
        <tr>
            <td>Most played category:</td>
            <td>-</td>
        </tr>
        <tr>
            <td>Won games:</td>
            <td>0</td>
        </tr>
    </table>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>OK</button>
</mat-dialog-actions>
