h1 > .status {
  font-size: 0.75em;
  vertical-align: middle;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
  border-radius: 5px;
  display: inline-block;

  &.status_WAITING {
    background-color: #2f2fda;
  }
  &.status_RUNNING {
    background-color: #1fb11f;
  }
  &.status_FINISHED {
    background-color: #f0a00c;
  }
}
