h1 > .status {
  font-size: 0.75em;
  vertical-align: middle;
  padding: 0.125em 0.5em;
  margin-left: 0.5em;
  border-radius: 5px;
  display: inline-block;

  &.status_WAITING {
    background: #2f2fda;
    color: #fff;
  }
  &.status_RUNNING {
    background: #1fb11f;
    color: #fff;
  }
  &.status_FINISHED {
    background: #f0a00c;
    color: #fff;
  }
}
