<mat-card class="personalStatisticsCard">
    <h2><mat-icon [inline]="true">person_outline</mat-icon>Personal</h2>

    <table *ngIf="userStats !== null">
        <tr>
            <td>Played games:</td>
            <td>{{ userStats.played_games }}</td>
        </tr>
        <tr>
            <td>Won games:</td>
            <td>{{ wonGames }}</td>
        </tr>
        <tr>
            <td>Lost games:</td>
            <td>{{ lostGames }}</td>
        </tr>
        <tr>
            <td>Most played category:</td>
            <td>{{ userStats.most_played_category !== null ? userStats.most_played_category.name : '-' }}</td>
        </tr>
        <tr>
            <td>Most won games in category:</td>
            <td>{{ userStats.won_games.length > 0 ? userStats.won_games[0].category.name : '-' }}</td>
        </tr>
    </table>

    <mat-spinner *ngIf="userStats === null && !error" diameter="24" style="margin: 0 auto"></mat-spinner>

    <span class="warn" *ngIf="error">
        <mat-icon style="vertical-align: middle; margin-right: 0.25em">error</mat-icon>{{ error }}
    </span>
</mat-card>
