<h2 mat-dialog-title>
    <mat-icon color="primary" [inline]="true">add_circle_outline</mat-icon><span>Setup a new game</span>
</h2>

<mat-dialog-content>
    <form [formGroup]="createForm">
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Number of teams</mat-label>
            <input matInput type="number" formControlName="number_teams" />
            <mat-error *ngIf="getFormError('number_teams') != null">{{ getFormError('number_teams') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Maximum score</mat-label>
            <input matInput type="number" formControlName="maximum_score" />
            <mat-error *ngIf="getFormError('maximum_score') != null">{{ getFormError('maximum_score') }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" color="primary">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                </mat-option>
            </mat-select>
            <mat-spinner matSuffix diameter="24" *ngIf="categories === null"></mat-spinner>
            <mat-error *ngIf="getFormError('category') != null">{{ getFormError('category') }}</mat-error>
        </mat-form-field>

        <h3>TimeFlip configuration</h3>
        <h4>
            Connection
            <button mat-icon-button (click)="showHelpConnection()" type="button" tabindex="-1">
                <mat-icon>help_outline</mat-icon>
            </button>
        </h4>
        <mat-form-field
            appearance="outline"
            color="primary"
            style="display: inline-block; vertical-align: sub; margin-right: 1em"
        >
            <mat-label>TimeFlip code</mat-label>
            <input
                matInput
                type="text"
                formControlName="dice_code"
                [matAutocomplete]="auto"
                (keyup.enter)="!loading_dice && dice_code?.value && checkDice()"
            />

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of diceHistory" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>

            <mat-spinner matSuffix diameter="24" *ngIf="loading_dice"></mat-spinner>
            <mat-icon matSuffix *ngIf="!loading_dice" [color]="dice_icon.color">{{ dice_icon.value }}</mat-icon>

            <mat-error *ngIf="getFormError('dice_code') != null">{{ getFormError('dice_code') }}</mat-error>
        </mat-form-field>
        <button
            mat-raised-button
            (click)="checkDice()"
            color="primary"
            type="button"
            [disabled]="loading_dice || !dice_code?.value"
        >
            Check availability
        </button>

        <h4>
            Mapping
            <button mat-icon-button (click)="showHelpMapping()" type="button" tabindex="-1">
                <mat-icon>help_outline</mat-icon>
            </button>
        </h4>
        <mat-form-field
            appearance="outline"
            color="primary"
            style="display: inline-block; vertical-align: sub; margin-right: 1em"
        >
            <mat-label>Mapping</mat-label>
            <mat-select formControlName="dice_mapping" placeholder="Default mapping">
                <mat-option [value]="DEFAULT_MAPPING_NAME"> Default mapping </mat-option>
                <mat-option *ngFor="let mapping of diceMappingsNames" [value]="mapping">
                    {{ mapping }}
                </mat-option>
            </mat-select>

            <mat-spinner matSuffix diameter="24" *ngIf="loading_mapping"></mat-spinner>
            <mat-icon matSuffix *ngIf="!loading_mapping">sell</mat-icon>
        </mat-form-field>
        <button mat-mini-fab color="primary" type="button" (click)="addDiceMapping()" style="margin-right: 0.5em">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button type="button" [matMenuTriggerFor]="editMappingMenu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </form>
    <p *ngIf="error" class="error warn">{{ error }}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <mat-spinner *ngIf="saving" color="primary" diameter="20" style="margin-right: 1rem"></mat-spinner>
    <button mat-flat-button mat-dialog-close [mat-dialog-close]="null" [disabled]="saving">Cancel</button>
    <button mat-flat-button (click)="save()" color="primary" [disabled]="saving || loading_dice">Create</button>
</mat-dialog-actions>

<mat-menu #editMappingMenu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item (click)="editDiceMapping()" [disabled]="isDefaultDiceMapping()">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
        </button>
        <button mat-menu-item (click)="deleteDiceMapping()" [disabled]="isDefaultDiceMapping()">
            <mat-icon [color]="isDefaultDiceMapping() ? null : 'warn'">delete</mat-icon>
            <span [class.warn]="!isDefaultDiceMapping()">Delete</span>
        </button>
    </ng-template>
</mat-menu>
