<p>You have to enter the dice's ID, which it obtains on its first register to the server.</p>

<p>
    You can retrieve it from the Raspberry's console, or by checking the <strong>timeGuessDiceId.txt</strong> file. A
    dice code looks like this for example: <code>51ffE4fh2A</code>
</p>

<p>
    Once you entered the code, you can check whether it is valid and available by clicking the "Check availability"
    button next to the input field.
</p>

<p>
    Once you created a game successfully using the code, it is stored and you can select it the next time you are
    creating a game (until you logout).
</p>
