<h1><mat-icon [inline]="true">play_arrow</mat-icon>Open games</h1>

<div class="actions">
    <button mat-raised-button (click)="reload()" [disabled]="loading" color="primary" style="margin-right: 1em">
        <mat-icon style="margin-right: 0.25em">refresh</mat-icon>
        <span>Reload</span>
    </button>

    <mat-spinner
        diameter="24"
        *ngIf="loading && runningGames !== null"
        style="display: inline-block; vertical-align: middle"
    ></mat-spinner>
</div>

<div class="runningGames" *ngIf="runningGames !== null">
    <tg-running-game-card
        *ngFor="let game of runningGames"
        [runningGame]="game"
        [loading]="loading"
        (closeGame)="closeGame(game.code)"
    ></tg-running-game-card>
    <!-- TODO: grid -->
</div>

<mat-spinner diameter="32" style="margin: 1em auto" *ngIf="runningGames === null && !error"></mat-spinner>

<span class="warn" *ngIf="error">
    <mat-icon style="vertical-align: middle; margin-right: 0.25em">error</mat-icon>{{ error }}
</span>
